streamlit
pymysql
pandas
regex
path
datetime
python-dateutil 
geopy==2.1.0
Nominatim
geopandas
sshtunnel
RateLimiter
sqlalchemy
email-to
secure-smtplib==0.1.1
pybase64
db-sqlite3
pathlib
contextlib2 
uuid
rt
seaborn
plotly.express
python-dotenv
streamlit_authenticator
pyjwt
mysql-connector-python

